@import 'styles/abstracts/variables';

.features {
  position: relative;
  width: 100%;
  .section-header {
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  .line-img {
    display: none;
  }

  .container {
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    .feature {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: linear-gradient(180deg, #ffffff 0%, #ede9ff 100%);
      box-shadow: 2px 8px 20px rgba(0, 36, 222, 0.4);
      border-radius: 10px;
      height: 350px;
      width: 100%;
      max-width: 310px;
      padding: 1rem;
      box-sizing: border-box;
      margin: 2rem;
      .icon {
        height: 100px;
        margin-bottom: 1rem;
      }

      p {
        text-align: center;
      }
    }
  }

  .wave-background-img {
    z-index: -1;
    top: 0;
    filter: drop-shadow(0px 8px 20px rgba(0, 36, 222, 0.4));
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $eld) {
  .features {
    .container {
      padding-bottom: 400px;
    }

    .wave-background-img {
      height: 100%;
      object-fit: cover;
      transform: scaleY(0.7);
    }

    .line-img {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      width: 95%;
      height: 100%;
      display: block;
      position: absolute;
    }
  }
}
